{% extends 'catalog/base.html' %}
{% load news_tags %}
{% block title %}О пользователе{% endblock %}

{% block content %}
<div class="mb-5">
    <p class="text-center h1">Пользователь {{ user.email }}</p>
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="card border-light mb-3 md-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ user.avatar | media_filter }}" class="img-fluid rounded-start" alt="unnamed">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">{{ user.phone_number }}</h4>
                        <p class="card-text">{{ user.country }}</p>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-transparent border-success">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="{% url 'users:user_edit' user.pk %}">
                        <button type="button" class="btn btn-secondary">Редактировать</button>
                    </a>
                    <a href="{% url 'catalog:home' %}">
                        <button type="button" class="btn btn-primary">Назад</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}