{% extends 'catalog/base.html' %}

{% block title %}Категории{% endblock %}

{% block content %}
<div class="mb-5">
    <p class="text-center h1">Категории</p>
</div>
<div class="row">
    {% for category in categories %}
    <div class="col-2"></div>
    <div class="col-4">
        <div class="card">
            <img src="/static/images/{% if category.category_name == 'Смартфоны' %}smartphones.jpg {% elif category.category_name == 'Телевизоры' %}TVs.jpg {% endif %}" class="card-img-top" alt="unnamed_box">
            <div class="card-body">
                <h5 class="card-title">{{category.category_name}}</h5>
                <p class="card-text">{{category.description}}</p>
                <div class="card-footer bg-transparent border-success">
                    <a href="#"><button type="button" class="btn btn-outline-primary">View</button></a>
                    <a href="#"><button type="button" class="btn btn-outline-primary">Edit</button></a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}