{% extends 'catalog/base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
<div class="mb-5">
    <p class="text-center h1">Контакты</p>
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col-4">
        <div class="card mb-3">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Имя</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <div class="mb-1">
                        <label for="exampleFormControlInput1" class="form-label">Почта</label>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">@</span>
                        <input type="text" class="form-control" aria-label="Username"
                               aria-describedby="basic-addon1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Сообщение</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
    <div class="col-4">
        <h3>Наши контакты</h3>
        Позвоните нам.
        Извините, если мы не ответим.
        Иногда мы уходим полностью в то, чем хотим с вами поделиться.
        Но мы перезвоним очень скоро.
        А пока просмотрите записи в соцсетях, чтобы понять, чем мы занимаемся.
    </div>
    <div class="col-1"></div>
</div>
{% endblock %}