{% extends 'catalog/base.html' %}
{% load news_tags %}
{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="mb-5">
    <p class="text-center h1">Главная</p>
    <p class="text-center">Вы находитесь на сайте продажи товаров</p>
</div>
<div class="row">
    {% for product in products %}
    <div class="col-2"></div>
    <div class="col-4">
        <div class="row row-cols-2 row-cols-md-1 g-4">
            <div class="col">
                <div class="card text-center border-light mb-5" style="max-width: 18rem;">
                    <img src="{{ product.image | media_filter }}" class="card-img-top" alt="unnamed_box">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.product_name|truncatechars:30 }}</h5>
                        <p class="card-text">{{ product.description|truncatechars:100 }}</p>
                        <a href="/product_detail/{{ product.id }}"><button type="submit" class="btn btn-primary w-100">Подробнее</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}