<div class="col-2 mt-1">
        <div class="card text-bg-dark mb-5 h-100 w-100" style="max-width: 18rem; position: absolute;">
            <div class="card-header h4">Меню</div>
            <div class="card-body">
                <div class="d-grid gap-2 col-12 mx-auto">
                    <a href="{% url 'catalog:home' %}">
                        <button type="button" class="btn btn-primary w-100">Главная</button>
                    </a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'catalog:product_create' %}">
                        <button type="button" class="btn btn-primary w-100">Добавить продукт</button>
                    </a>
                    {% endif %}
                    {% if perms.catalog.can_unpublish_product %}
                    <a href="{% url 'catalog:product_list_all' %}">
                        <button type="button" class="btn btn-primary w-100">Все продукты</button>
                    </a>
                    {% endif %}
                    <a href="{% url 'catalog:categories_list' %}">
                        <button type="button" class="btn btn-primary w-100">Категории</button>
                    </a>
                    {% if user.is_authenticated %}
                    <a href="#">
                        <button type="button" class="btn btn-primary w-100">Заказы</button>
                    </a>
                    {% endif %}
                    <a href="{% url 'catalog:contacts' %}">
                        <button type="button" class="btn btn-primary w-100">Контакты</button>
                    </a>
                </div>
            </div>
            <div class="card-footer bg-transparent border-success">
                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        {% if user.is_authenticated %}
                        Пользователь {{ user.email|truncatechars:15 }}
                        {% else %}
                        Пользователь
                        {% endif %}
                    </button>
                    <ul class="dropdown-menu">
                        {% if user.is_authenticated %}
                        <li><a class="dropdown-item" href="{% url 'users:user_detail' user.pk %}">Профиль</a></li>
                        <li>
                            <form method="post" action="{% url 'users:logout' %}" style="display: inline">
                                {% csrf_token %}
                                <button type="submit" class="btn">Выход</button>
                            </form>
                        </li>
                        {% else %}
                        <li><a class="dropdown-item" href="{% url 'users:login' %}">Вход</a></li>
                        <li><a class="dropdown-item" href="{% url 'users:register' %}">Регистрация</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>