{% extends 'catalog/base.html' %}

{% block title %}О продукте{% endblock %}

{% block content %}
<div class="mb-5">
    <p class="text-center h1">{{ product_name }}</p>
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="card border-light mb-3 md-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/static/images/{% if 'Iphone' in product_name %}Iphone 16.png {% elif 'Ultra' in product_name %}S25 Ultra.png {% elif 'QE65QN800DUXRU' in product_name %}Samsung TV.png {% elif 'LG OLED65G4RLA' in product_name %}LG TV.png {% endif %}" class="img-fluid rounded-start" alt="unnamed_box">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">{{ product_name }}</h4>
                        <p class="card-text">{{ description }}</p>

                    </div>
                </div>
            </div>
            <div class="card-footer bg-transparent border-success">
                <p class="text-center h3">{{ price }} руб.</p>
            </div>
            <div class="card-footer bg-transparent border-success">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="{% url 'catalog:home'%}">
                        <button type="button" class="btn btn-outline-secondary">Назад</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}