{% extends 'catalog/base.html' %}

{% block title %}Форма для добавления продукта{% endblock %}

{% block content %}
<div class="row">
    <div class="col-1"></div>
    <div class="col-6">
    <h2>Форма для добавления продукта</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Создать</button>
            <a href="{% url 'catalog:home' %}" class="btn btn-secondary">Отмена</a>
        </form>
    </div>
</div>
{% endblock %}