<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Список продуктов</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Список товаров</h1>
            <ul class="list-group">
                {% for product in products %}
                <li class="list-group-item d-flex justify-content-between align-items-center {% if product.category_id == 1 %}list-group-item-primary{% elif product.category_id == 2 %}list-group-item-success{% endif %}">
                    {{ product.product_name }}, {{ product.description|truncatechars:100 }}
                    <span class="badge badge-primary rounded-pill">
                        {% if product.category_id == 1 %}
                            Смартфоны
                        {% elif product.category_id == 2 %}
                            Телевизоры
                        {% endif %}
                    </span>
                </li>
                {% endfor %}
            </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>