{% extends 'catalog/base.html' %}
{% load news_tags %}
{% block title %}О продукте{% endblock %}

{% block content %}
<div class="mb-5">
    <p class="text-center h1">{{ product.product_name }}</p>
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="card border-light mb-3 md-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ product.image | media_filter }}" class="img-fluid rounded-start" alt="unnamed_box">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">{{ product.product_name }}</h4>
                        <p class="card-text">{{ product.description }}</p>

                    </div>
                </div>
            </div>
            <div class="card-footer bg-transparent border-success">
                <p class="text-center h3">{{ product.price }} руб.</p>
            </div>
            <div class="card-footer bg-transparent border-success">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="{% url 'catalog:home'%}">
                        <button type="button" class="btn btn-outline-secondary">Назад</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}